.first{
    width: 150px;
    margin-left: 45px;
}
/* .nav{
    margin-right: 20px;
    padding-right: 20px;
} */
.Div1{
    font-size: 40px;
    font-family: sans-serif;
    line-height: 1.2;
}

.divisionOne{
    margin-left: 60px;
    padding-top: 100px;
}
.paragraphOne{
    font-size: 18px;
    margin-top: 20px;
}
.imageOne{
    width: 500px;
    margin-left: 70px;
}
.diveTwo{
    margin-top: 10px;
}
.image{
    width: 470px;
    margin-left: 120px;
    height: 470px;
}
.pOne{
    color: black;
    font-weight: 500;
}
.BTN{
    border: 2px solid red;
    padding: 10px 18px;
    background-color: red;
    font-family: sans-serif;
    color: white;
    letter-spacing: 0;
    font-style: bold;
    /* margin-top: 200px; */
}
.btnDiv{
    margin-top: 35px;
}
.feature{
    font-size: 30px;
    letter-spacing: 1px;
    /* margin-left: 55px; */
}
.main{
    margin-left: 55px;
    flex-wrap: wrap;
    /* overflow: hidden; */
    /* overflow-wrap: none; */
}
.divH1{
    font-size: 22px;
    font-weight: 400;
}



body {
    font-family: Arial, sans-serif;
}
.section{
    margin-top: 130px;
}

.grid-container {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 20px;
    flex-wrap: wrap;

}

.grid-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    width: 292px;
    margin-top: 60px;
}
.GC{
    margin-left: 20px;
    gap: 20px;
    
}

.grid-item h2 {
    margin-top: 0;
}

.grid-item a {
    color: blue;
    text-decoration: none;
}

.grid-item a:hover {
    text-decoration: underline;
}
.features{
    margin-left: 39px;
    font-size: 35px;
    font-family: sans-serif;
}
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
