/* Slider for currency */
.slider{
    border-radius: 30px;
    background-color: white;
    position: relative;
    width: 48px;
    height: 24px;
    cursor: pointer;
    transition: all 2s;
    border: 1px solid #4696EC;
  }
  .slider::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    background-color: #4696EC;
    height: 20px;
    width: 20px;
    transition: all .5s;
  }
  
  .active::after{
    transform: translateX(24px);
  }

  /* Navbar dropdown */
.bxs-down-arrow{
    font-size: 10px;
}
.div-reveal .reveal{
  transition: all .5s;
  transform: translateY(30px);
  opacity: 0;
  display: flex;
  visibility: hidden;
}
.div-reveal:hover .reveal{
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}

.nav{
  animation: zoom 1s ease-in-out;
  animation-delay: calc(.1s * var(--i));
}

/* sticky class for Navbar */
.new {
    border: 1px solid #E7EBF0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: slidedown .7s forwards;
  }

  @keyframes slidedown {
    from {
      top: -250px;
    }

    to {
      top: 0px;
    }
  }
