*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --lightgreen: #01EE65;
    --lightergreen: #D8F6E6;
    --darkgreen: #003F3C;
    scroll-behavior: smooth;
}
.cursive-p{
    font-family: "Caveat", cursive;
} 
.background-image{
    background-image: url(./Images/market-cx-ceo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* For animations */
.store-btn {
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.store-btn:hover{
    /* animation: up 1s ease-in-out forwards; */
    transform: translateY(-10px);
}
.store-btn::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: black;
    z-index: -10;
    opacity: 0;
    border-radius: 9999px;
    transition: opacity 0.3s ease-in-out;
    
}
.store-btn:hover::before {
    opacity: 1;
}
.store-btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: var(--lightgreen);
    z-index: -2;
}

/* Schedule a free demo Button */
.demo-btn{
    position: relative;
    overflow: hidden;
}
.demo-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border-radius: 30px;
    height: 100%;
    background-color: var(--lightgreen);
    z-index: -1;
    transition: 0.5s all ease-in-out;
}
.demo-btn:hover::before{
    width: 100%;
}

/* @keyframes up {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-10px);
    }
} */
.bxs-down-arrow{
    font-size: 10px;
}
.reveal{
  opacity: 0;
  display: none;
}
.div-reveal .reveal{
  transition: all .5s;
  transform: translateY(30px);
  display: flex;
  z-index: -10;
}
.div-reveal:hover .reveal{
  opacity: 1;
  transform: translateY(0px);
  z-index: 10;
}



/* SWIPER STYLESHEET */
.swiper-button-prev::after, .swiper-button-next::after {
    color: white;
}
.swiper-pagination-bullet-active{
    background-color: white !important;
}
.swiper {
    width: 90vw;
  }

/* Just testing out animations, not needed in the code */

.nav{
    animation: zoom 1s ease-in-out;
    animation-delay: calc(.1s * var(--i));
}
/* .first{
    animation: top 1s ease-in-out;
    animation-delay: calc(.2s * var(--i));
}

.second{
    animation: top 1s ease-in-out;
    animation-delay: calc(.3s * var(--i));
} */
/* 
@keyframes top {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
    
}
@keyframes bottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
    
}
@keyframes left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    
} */
@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
    
}

