*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --lightgreen: #01EE65;
    --lightergreen: #D8F6E6;
    --darkgreen: #003F3C;
}
.nav-bar{
    border-bottom: 1px solid #E7EBF0;
}
.cursive-p{
    font-family: "Caveat", cursive;
} 
.flex-items{
    flex-grow: 1;
    padding: 40px 55px 50px 50px;
}
.background-image{
    background-image: url(./Images/market-cx-ceo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.background-pattern {
    background-image: url('path/to/your/pattern-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}