*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --lightgreen: #01EE65;
    --lightergreen: #D8F6E6;
    --darkgreen: #003F3C;
}
.nav-bar{
    border-bottom: 1px solid #E7EBF0;
    justify-content: space-between;
}
.menu-link{
    display: none;
}
.cursive-p{
    font-family: "Caveat", cursive;
} 
.flex-items{
    flex-grow: 1;
    padding: 40px 55px 50px 50px;
}
.background-image{
    background-image: url(./Images/market-cx-ceo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Media query */
@media screen and (max-width: 400px) {
    .nav-bar {
        justify-content: space-around;
    }
    .menu-link{
        display: inline;
        font-size: 2rem;
    }
    /* .menu-link:hover .nav-list{
        display: flex;
        flex-direction: column;
    } */
    /* .nav-bar a{
        display: flex;
        align-self: center;
    } */
    .nav-list{
        display: none;
    }
    .nav-bar ul li {
        margin-right: 10px;
    }
    
    
    .page-3{
        display: none;
    }
    .page-4{
        display: none;
    }
    .page-5{
        display: none;
    }
    .page-6{
        display: none;
    }
    .page-7{
        display: none;
    }
    .page-8{
        display: none;
    }
    .page-last{
        display: none;
    }
    .page-footer{
        display: none;
    }
}